.container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border: 8px solid #ccc;
    border-radius: 0.5rem;
}

.webcamContainer {
    position: relative;
    overflow: hidden;
    /* 16:9 aspect ratio */
}


.formGroup {
    margin-bottom: 1rem;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.webcamVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

.overlayRectangle {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 3;
  }

.button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: #0070f3;
    color: #ffffff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #0055b3;
}