.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border: 8px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.webcamContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    /* Set desired aspect ratio here (e.g., 4:3 = 75%, 16:9 = 56.25%) */
    overflow: hidden;
    border-radius: 0.25rem;
}


.formGroup {
    margin-bottom: 1rem;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.webcamVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

.overlayRectangle {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 3;
}

.button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    /* Add margin-bottom for gap */
    margin-top: 1rem;
    /* Add margin-top for gap */
}

.button:hover {
    background-color: #0055b3;
}

.captureButton {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* Add margin-top for gap */
}

.capturedImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.capturedImage {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.faceInfo {
    text-align: center;
    margin-bottom: 1rem;
    color: #555;
}

.faceInfo p {
    margin-bottom: 0.5rem;
}

.noFaceDetected {
    color: #dc3545;
    font-weight: bold;
}